*{
    box-sizing: border-box;
    padding: 0;
}

.container {
    width: 50rem;
    margin: auto;
    margin-top: 5em;
    justify-items: center;
    background-color: aquamarine;
    padding: 1em 0.5em;
    border-radius: 10%;
}

.input {
    margin-top: 3rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input, div {
    display: flex;
    flex-direction: column;
    margin-top: 1.3rem;
    width: 300px;
    font-size: 1.3rem;
}

.error-text {
    font-size: 1rem;
    color: rgb(240, 71, 71);
}

input{
    height: 1.5rem;
}

body{
    background-color: aqua;
}

h1 {
    font-size: 3em;
}


ul {
    font-size: 1.5em;
}